.wrapper-bg {
	z-index: -6;
}

.data-view {
	margin-top: 40px;
	width: 100%;
	height: 100%;
	padding: 50px;
	background-color: rgba(190, 187, 187, 0.322);
	border-radius: 50px;
}
.form {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width: 100%;
	height: 100%;
	padding: 50px;
	background-color: rgba(190, 187, 187, 0.322);
	border-radius: 50px;
}

.data {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-end;
	gap: 80px;
}

#firstName, 
#lastName {
	height: 50px;
	border-radius: 10px;
	border: 2px solid gray;
}