body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
    color: #666666;
    background-color: #f4f4f4;
}

p, q { line-height: 1.8; }
h2 { font-size: 1.8rem; }

.tm-site-name {
    font-size: 4rem;
}

.tm-quote {
    font-size: 1.35rem;
    font-style: italic;
    display: block;
}

.container {
    margin-top: 30px;
}

.tm-container-inner {
    margin: 0 auto;
    max-width: 880px;
}

.tm-section {
    position: relative;
    background-color: white;
}

.tm-pricing-discount {
    display: none;
}

.tm-pricing-discount__star {
    color: black;
}

.tm-pricing-discount__text {
    color: black;
}

.tm-section,
.tm-section-min-h {
    min-height: 400px;
}

.tm-flex-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-flex-col {
    flex-direction: column;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 47px;
    font-size: 1.15rem;
}

.btn-primary {
    background: black;
    border-color: black;
}

.btn-secondary {
    background: black;
    border-color: black;
}

.tm-bg-color-primary { background-color: black }
.tm-bg-color-secondary { background-color: black }

.tm-text-color-primary { color: black }
.tm-text-color-white { color: white; }

.tm-font-thin { font-weight: 300; }
.tm-max-w-400 { max-width: 400px; }

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
}

.tm-contact-form select,
.tm-contact-form input {
    color: #666;
}

.tm-contact-form textarea {
    height: 205px;
}

.tm-pricing-table {
    border: 1px solid black;
    width: 100%;
    max-width: 340px;
}

.tm-pricing-header {
    padding: 20px;
}

.tm-pricing-body {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tm-pricing-header-title {
    font-size: 1.6rem;
}

.tm-feature-list {
    list-style: none;
    margin: 0;
    line-height: 2.4;
    padding: 35px 50px;
}

.tm-form-header {
    background: black;
    padding: 40px 40px 90px;
}

.tm-form-footer {
    padding-top: 100px;
    padding-bottom: 30px;
}

.tm-footer-info-box {
    max-width: 260px;
    margin: 0 auto;
}

.tm-contact-form {
    padding: 68px;
    background: white;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.form-control {
    color: #666;
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 0;
}

.tm-contact-form select {
    width: 100%;
    padding: 15px;
}

.tm-center {
    width: 100%;
    text-align: center;
}

.tm-copyright-text {
    padding: 20px;
    font-size: 1rem;
}

.rounded-circle {
    height: 300px;
    width: 300px;
    background-image: url("../img/image-04.jpg");
    background-position: center;
    background-size: cover;
}
